<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mypuredays.mypuredays">

    <!--<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>-->
    <!--<receiver android:process=":remote" android:name=".Alarm"></receiver>-->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StatusActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DefinitionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CalenderActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".DialogCalendar"
            android:screenOrientation="portrait"/>
        <activity android:name=".dialogOnot"
            android:screenOrientation="portrait"/>
    </application>

    <receiver android:name=".AutoStart">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"></action>
        </intent-filter>
    </receiver>

    <service
        android:name=".MyService"
        android:enabled="true"
        android:process=":my_service" >
    </service>

</manifest>
